<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit Player</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<h2>Edit Player</h2>
<nav>
    <ul>
        <li><a href="/players" th:href="@{/players}">Back to Players</a></li>
    </ul>
</nav>
<form th:action="@{/players/edit/{id}(id=${player.playerId})}" th:object="${player}" method="post">
    <label for="name">Name:</label>
    <input type="text" id="name" th:field="*{name}" required/>
    <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</div>

    <label for="fullName">Full Name:</label>
    <input type="text" id="fullName" th:field="*{fullName}" required/>
    <div th:if="${#fields.hasErrors('fullName')}" th:errors="*{fullName}">Full Name Error</div>

    <label for="age">Age:</label>
    <input type="text" id="age" th:field="*{age}" required/>
    <div th:if="${#fields.hasErrors('age')}" th:errors="*{age}">Age Error</div>

    <label for="indexer">Indexer:</label>
    <select id="indexer" th:field="*{indexer.indexId}" required>
        <option value="" disabled>Select Indexer</option>
        <option th:each="indexer : ${indexers}" th:selected="${indexer.indexId == player.indexer.indexId}" th:value="${indexer.indexId}" th:text="${indexer.name}"></option>
    </select>
    <div th:if="${#fields.hasErrors('indexer.indexId')}" th:errors="*{indexer.indexId}">Indexer Error</div>

    <button type="submit">Update Player</button>
</form>
</body>
</html>
