<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Player Evaluation</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<h1>Player Evaluation</h1>
<nav>
    <ul>
        <li><a href="/" th:href="@{/}">Home</a></li>
        <li><a href="/players" th:href="@{/players}">Players</a></li>
        <li><a href="/indexers" th:href="@{/indexers}">Indexers</a></li>
    </ul>
</nav>
<div>
    <p>Welcome to the Player Evaluation System. Use the navigation above to manage players and indexers.</p>
</div>
</body>
</html>
